nav {
  background-color: #00355F;
  font-family: 'Lato';
}

a {
  font-size: 48px;
  color: white;
  position: relative; /* Allows positioning of the version span */
  display: inline-block; /* Ensures the layout respects dimensions and positioning */
}

.app-version {
  font-size: 24px; /* Smaller font size for the version */
  color: white;
  opacity: 0; /* Start as invisible */
  transition: opacity 0.3s ease-in-out; /* Smooth transition for the hover effect */
  margin-left: 10px; /* Space between title and version */
}

a:hover .app-version {
  opacity: 1; /* Make the version visible on hover */
}
