@use '@angular/material' as mat;
@use '../../../../../custom-theme.scss' as theme;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Lato:wght@700&display=swap');

:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; // Align to the top
  min-height: 100vh; // Full viewport height
  padding: 2vh 10vw; // Reduced top and bottom padding
  background: mat.get-color-from-palette(theme.$custom-primary, 50);
  box-sizing: border-box;
}

.container {
  width: 100%; // Occupies 90% of the host element's width
  max-width: 960px; // Increases the maximum width for larger screens
  margin: 2vh auto; 
  padding: 40px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); // A stronger shadow for better depth perception
  box-sizing: border-box;

  @media (min-width: 768px) {
    margin: 40px auto; // Adds more vertical space on larger screens
  }
}

.title {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #00355F;
  margin-bottom: 24px;
  text-align: center; // Center-align the title
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  .mat-form-field {
    width: 100%;
    input, textarea {
      font-size: 1rem; // Adjusts font size for better readability
    }
  }
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.snack-bar-error {
  background-color: #d32f2f;
  color: #fff;
}

button.create-button {
  font-family: 'Lato', sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  background-color: mat.get-color-from-palette(theme.$custom-primary, 600);
  color: white;
  border: none;
  padding: 15px 30px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: center; // Center the button in the container

  &:hover {
    background-color: mat.get-color-from-palette(theme.$custom-primary, 800);
  }
}

@media (max-width: 768px) {
  :host {
    padding: 2vh 5vw;
  }

  .container {
    max-width: 90%;
  }
}
