<div class="container">
    <h2 class="title">Athlete Dashboard</h2>
    <div class="button-container">
      <button mat-raised-button color="primary" class="create-button" routerLink="/view-calendar">Ver Calendario</button>
      <button mat-raised-button color="primary" class="create-button" routerLink="/view-events-services">Ver eventos y servicios</button>
      <button mat-raised-button color="primary" class="create-button" routerLink="/view-training-history">Ver historial de entrenamiento</button>
      <button mat-raised-button color="primary" class="create-button" routerLink="/select-plan">Seleccionar plan</button>
      <button mat-raised-button color="primary" class="create-button" routerLink="/add-demographic-info">Agregar información demográfica</button>
      <button mat-raised-button color="primary" class="create-button" routerLink="/add-sports-habits">Agregar información de hábitos deportivos</button>
    </div>
  </div>
  