<div class="container-fluid">
  <div class="row">
    <div class="text-center">
      <h1 style="margin-right: 10px; margin-top: 60px; color: #006494; font-family: 'Lato'; font-size: 48px; font-weight: bold;">Aqui estará el Login para Cada usuario...</h1><br>
      <h2 style="margin-right: 10px; color: #006494; font-family: 'Lato'; font-size: 40px; font-weight: bold;">Cuando se haga el login, dependiendo el usuario que sea, debe irse a la vista que corresponde.</h2><br>

      <p class="d-inline-flex gap-1" style="margin-top: 40px;">
        <a routerLink="" class="btn-link">Otra opcion</a>
        <a routerLink="/micuenta" class="btn-link">Mi Cuenta</a>
        <a routerLink="" class="btn-link">Otra opcion</a>
      </p>
    </div>
  </div>
</div>
