<div class="welcome-container">
  <div class="welcome-content">
    <h1 class="title">{{ 'welcomeTitle' | translate }}</h1>
    <p class="subtitle">
      {{ 'welcomeSubtitle' | translate }}
    </p>
    <div class="action-buttons">
      <button mat-raised-button color="primary" (click)="navigateToLogin()">{{ 'loginButton' | translate }}</button>
      <button mat-raised-button color="accent" (click)="navigateToRegister()">{{ 'registerButton' | translate }}</button>
    </div>
  </div>
  <div class="image-container">
    <img src="assets/inicio.png" alt="Inicio de SportApp" class="responsive-img">
  </div>
</div>
