<div class="welcome-container">
    <div class="welcome-content">
      <h1 class="title">Transforma tu rendimiento deportivo con SportApp</h1>
      <p class="subtitle">
        Ya seas un atleta buscando mejorar tus marcas, un profesional del deporte ofreciendo servicios personalizados, o un organizador de eventos buscando eficiencia y alcance, SportApp es tu aliado perfecto. Diseñamos rutinas de entrenamiento y planes de nutrición adaptados a las necesidades de la diversa población latinoamericana.
      </p>
      <div class="action-buttons">
        <button mat-raised-button color="primary" (click)="navigateToLogin()">Inicia sesión</button>
        <button mat-raised-button color="accent" (click)="navigateToRegister()">Regístrate</button>
      </div>
    </div>
    <div class="image-container">
      <img src="assets/inicio.png" alt="Inicio de SportApp" class="responsive-img">
    </div>
  </div>
