<div class="container">
    <h2 class="title">Professional Service Dashboard</h2>
    <div class="button-container">
      <button mat-raised-button color="primary" class="create-button" routerLink="/create-service">Crear servicio</button>
      <button mat-raised-button color="primary" class="create-button" routerLink="/view-services">Ver servicios</button>
      <button mat-raised-button color="primary" class="create-button" routerLink="/create-training-plan">Crear plan de entrenamiento</button>
      <button mat-raised-button color="primary" class="create-button" routerLink="/create-nutrition-plan">Crear plan de nutrición</button>
    </div>
  </div>
  