<div class="container">
  <button mat-icon-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h2 class="title">{{ 'sportInfoTitle' | translate }}</h2>
  <form [formGroup]="sportInfoForm" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'sportInfoTrainingFrequency' | translate }}</mat-label>
        <input matInput formControlName="training_frequency">
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'sportInfoSportsPracticed' | translate }}</mat-label>
        <input matInput formControlName="sports_practiced">
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'sportInfoAverageSession' | translate }}</mat-label>
        <input matInput formControlName="average_session_duration" type="number">
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'sportInfoRecoveryTime' | translate }}</mat-label>
        <input matInput formControlName="recovery_time" type="number">
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'sportInfoTrainingPace' | translate }}</mat-label>
        <input matInput formControlName="training_pace" type="text">
      </mat-form-field>
    </div>

    <div class="button-container">
      <button mat-button class="create-button" type="submit">{{ 'sportInfoButton' | translate }}</button>
    </div>
  </form>
</div>
