<div class="container">
    <h2 class="title">Iniciar Sesión</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>Número de identificación</mat-label>
          <input matInput formControlName="id_number">
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
      </div>
      <div class="button-container">
        <button mat-button class="action-button" type="submit">Iniciar Sesión</button>
      </div>
    </form>
  </div>
  