<div class="container">
    <h2 class="title" i18n="@@trainingPlanTittle">Crear plan de entrenamiento</h2>
    <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">

        <div class="form-field">
            <mat-form-field appearance="fill">
              <mat-label i18n="@@trainingPlanObjetive">Objetivo</mat-label>
              <input matInput formControlName="objectives">
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-form-field appearance="fill">
              <mat-label i18n="@@trainingPlanDescription">Descripción</mat-label>
              <input matInput formControlName="description">
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-form-field appearance="fill">
                <mat-label i18n="@@trainingPlanExcercises">Ejercicios</mat-label>
                <input matInput formControlName="exercises">
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-form-field appearance="fill">
                <mat-label i18n="@@trainingPlanFrecuency">Frecuencia</mat-label>
                <input matInput formControlName="frequency">
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-form-field appearance="fill">
              <mat-label i18n="@@trainingPlanDuration">Duración</mat-label>
              <input matInput formControlName="duration">
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-form-field appearance="fill">
                <mat-label i18n="@@trainingPlanProfile">Perfil</mat-label>
                <input matInput formControlName="profile_type">
            </mat-form-field>
        </div>

        <div class="button-container">
            <button mat-button class="action-button" type="submit" i18n="@@createPlan">Crear Plan</button>
        </div>
    </form>
</div>