<div class="container">
    <button mat-icon-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h2 class="title">{{ 'trainingHistoryTitle' | translate }}</h2>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="training_type">
        <th mat-header-cell *matHeaderCellDef>{{ 'trainingHistoryTrainingType' | translate }}</th>
        <td mat-cell *matCellDef="let training"> {{ training.training_type }} </td>
      </ng-container>
  
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>{{ 'trainingHistoryDate' | translate }}</th>
        <td mat-cell *matCellDef="let training"> {{ training.end_time | date:'mediumDate' }} </td>
      </ng-container>
  
      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef>{{ 'trainingHistoryDuration' | translate }}</th>
        <td mat-cell *matCellDef="let training"> {{ training.duration }} hours</td>
      </ng-container>
  
      <ng-container matColumnDef="notes">
        <th mat-header-cell *matHeaderCellDef>{{ 'trainingHistoryNotes' | translate }}</th>
        <td mat-cell *matCellDef="let training"> {{ training.notes }} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  