<div class="container">
  <button mat-icon-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h2 class="title">{{ 'trainingPlanTitle' | translate }}</h2>
  <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'trainingPlanObjective' | translate }}</mat-label>
        <input matInput formControlName="objectives">
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'trainingPlanDescription' | translate }}</mat-label>
        <input matInput formControlName="description">
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'trainingPlanExercises' | translate }}</mat-label>
        <input matInput formControlName="exercises">
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'trainingPlanFrequency' | translate }}</mat-label>
        <input matInput formControlName="frequency">
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'trainingPlanDuration' | translate }}</mat-label>
        <input matInput formControlName="duration">
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'registerProfileType' | translate }}</mat-label>
        <mat-select formControlName="profile_type">
          <mat-option value="Beginner">{{ 'Beginner' | translate }}</mat-option>
          <mat-option value="Intermediate">{{ 'Intermediate' | translate }}</mat-option>
          <mat-option value="Advance">{{ 'Advance' | translate }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="button-container">
      <button mat-button class="action-button" type="submit">{{ 'createPlanButton' | translate }}</button>
    </div>
  </form>
</div>
