
<div class="container-fluid">
  <div class="row">
    <div class="text-center">
      <h1 style="margin-right: 10px; margin-top: 60px; color: #006494; font-family: 'Lato'; font-size: 48px; font-weight: bold;">Aqui estará el Login para Cada usuario...</h1><br>
      <h2 style="margin-right: 10px; color: #006494; font-family: 'Lato'; font-size: 40px; font-weight: bold;">Cuando se haga el login, dependiendo el usuario que sea, debe irse a la vista que corresponde.</h2><br>

    <p class="d-inline-flex gap-1" style="margin-top: 40px;">
      <button type="button" routerLink="/iniciodeportista" class="btn" style="background-color: #006494; width: 272px; height: 73px; margin-top: 10px;">Deportista</button>
      <button type="button" routerLink="/professional-profile" class="btn" style="background-color: #006494; width: 272px; height: 73px; margin-top: 10px;">Profesional</button>
      <button type="button" routerLink="/inicioprofesional" class="btn" style="background-color: #006494; width: 272px; height: 73px; margin-top: 10px;">ProfesionalB</button>
      <button type="button" routerLink="/inicioorganizador" class="btn" style="background-color: #006494; width: 272px; height: 73px; margin-top: 10px;">Organizador</button>
    </p>


    </div>
    </div>
    </div>


