<div class="container">
  <button mat-icon-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h2 class="title">{{ 'demographicInfoTitle' | translate }}</h2>
  <form [formGroup]="demographicInfoForm" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'demographicInfoEthnicity' | translate }}</mat-label>
        <input matInput formControlName="ethnicity">
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'demographicInfoHeartRate' | translate }}</mat-label>
        <input matInput formControlName="heart_rate" type="number">
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'demographicInfoVO2Max' | translate }}</mat-label>
        <input matInput formControlName="vo2_max" type="number">
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'demographicInfoBloodPressure' | translate }}</mat-label>
        <input matInput formControlName="blood_pressure" type="text">
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'demographicInfoRespiratoryRate' | translate }}</mat-label>
        <input matInput formControlName="respiratory_rate" type="number">
      </mat-form-field>
    </div>

    <div class="button-container">
      <button mat-button class="create-button" type="submit">{{ 'demographicInfoButton' | translate }}</button>
    </div>
  </form>
</div>
